.home {
    padding: 2rem 5%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
    width: 100%;

    .hero {
        position: relative;
        width: 100%;
        aspect-ratio: 21/9;
        min-height: 400px;
        margin: auto;
        border-radius: 20px;
        overflow: hidden;

        .hero-swiper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            .swiper-slide {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .swiper-pagination-bullet {
            background-color: white;
            opacity: 0.7;
        }

        .swiper-pagination-bullet-active {
            background-color: #000; // Active dot color
            opacity: 1;
        }

        .hero-content {
            position: relative;
            z-index: 2; // Must be higher than swiper (z-index 0)
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 3rem;

            // Gradient to make text readable over any image
            background: linear-gradient(to right, rgba(255, 255, 255, 0.9) 30%, transparent 100%);
            width: 100%;
            pointer-events: none; // Lets you click/swipe the image underneath if needed

            // But re-enable clicks for buttons/links
            h1,
            p,
            a {
                pointer-events: auto;
            }
        }

    }

    >h1 {
        @include heading;
        text-align: center;
        margin-bottom: 3rem;
        @include flex(row, space-between, center);

    }

    .findmore {
        font-size: 1rem;
    }


}

.productcard {
    width: 18.75rem;
    height: 25rem;
    padding: 1rem;
    flex: none;
    position: relative;
    background-color: white; 
  border-radius: 10px;
    @include flex(column, flex-start, center, 4px);


    &:hover>div {
        opacity: 1;
    }
    img {
        @include square(calc(18.75rem - 3rem));
        object-fit: cover;
        margin: 1rem;
        border-radius: 5px;
    }

    span {
        font-weight: 700;
        font-size: 1.1rem;
    }

    >div {
        opacity: 0;
        position: absolute;
        @include square(100%);
        top: 0;
        left: 0;
        background-color: #0000006b;
        @include flex;

        button {
            @include flex;
            @include square(3rem);
            border-radius: 100%;
            border: none;
            background-color: $color3;
            cursor: pointer;
            color:$color1;
            font-size: 1.1rem;
            transition: all 0.3s;
            &:hover{
                rotate:20deg;
            }

        }
    }
}