.login{
    height : 90vh;
    @include flex(cloumn);

    > main {
        width: 100%;
        height: 80%;
        max-width: 400px;
        padding: 2rem;

        @include baseShadow;
        
        @include flex(column, center, stretch);
        >div {
            width: 100%;
            @include flex(column, flex-start, stretch, 0.2rem);
            >input,
        >select{
            @include inputStyle;
            border: 1px solid rgba(162, 162,162,0.53);
            border-radius: 5px;
            font-family:"Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        > p{
            text-align: center;
            margin: 2rem;
        }
        }
        
    }
}